{% extends 'layouts/base.html' %}

{% block page_content_before %}
    <div class="navbar-container">
        {{ navbar.load_navbar("margin-bottom: -80px; padding: 0") }}
    </div>
{% endblock %}

{% block page_content %}


    <div data-overlay class="bg-primary-3 jarallax text-white" data-jarallax data-speed="0.2">
        <img src="{{ url_for('static', filename='assets/img/heros/hero-3.jpg') }}" alt="Background"
             class="jarallax-img opacity-30">
        <section class="pb-0">
            <div class="container pb-5">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-8 col-lg-10 col-md-11">
                        <h1 class="display-3" data-aos="fade-up" data-aos-delay="100">Raimech Aero</h1>
                        <p class="lead" data-aos="fade-up" data-aos-delay="200">
                            A place where ideas come to reality.
                        </p>
                        <div class="d-flex flex-column flex-sm-row justify-content-center mt-4 mt-md-5"
                             data-aos="fade-up" data-aos-delay="300">
                            <a href="#" class="btn btn-primary btn-lg mx-sm-2 my-1 my-sm-0">View Demos</a>
                            <a href="#" class="btn btn-outline-light btn-lg mx-sm-2 my-1 my-sm-0">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider divider-bottom bg-primary-3"></div>
        </section>
    </div>

    {#  Testimonial snippets  #}
    <section class="bg-primary-3 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 mb-5 mb-lg-0">
                    <img src="{{ url_for('static', filename='assets/img/logos/brand/kyan.svg') }}"
                         alt="Kyan company logo" class=" my-4">
                    <div class="px-xl-4">
                        &ldquo;A polished product from a solid performer in the brutal and ever-changing SaaS landscape.&rdquo;
                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <img src="{{ url_for('static', filename='assets/img/logos/brand/goldline.svg') }}"
                         alt="Goldline company logo"
                         class=" my-4">
                    <div class="px-xl-4">
                        &ldquo;It's clear that the team at Jumpstart have been listening to their customers.&rdquo;
                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-lg-0">
                    <img src="{{ url_for('static', filename='assets/img/logos/brand/aven.svg') }}"
                         alt="Aven company logo" class=" my-4">
                    <div class="px-xl-4">
                        &ldquo;The future is looking bright for this punky young startup. One to watch for sure.&rdquo;
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Great Functionality Section #}
    <section class="bg-light o-hidden pt-0">
        <div class="divider divider-top transform-flip-x bg-primary-3"></div>
        <div class="container">
            <div class="row section-title justify-content-center text-center">
                <div class="col-md-9 col-lg-8 col-xl-7">
                    <h3 class="display-4">Great Functionality</h3>
                    <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa.
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-pills lead mb-4 mb-md-5 justify-content-center" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Groups</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Dark Mode</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                   aria-controls="contact" aria-selected="false">Feed</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row align-items-center justify-content-between flex-lg-row-reverse">
                                    <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                                        <div class="pl-lg-4 pr-xl-5" data-aos="fade-right">
                                            <h3 class="h1">A great feature you'll
                                                <mark data-aos="highlight-text"
                                                      data-aos-delay="250">love to use
                                                </mark>
                                            </h3>
                                            <p>
                                                Ned ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                                            </p>
                                            <div class="mt-4">
                                                <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                                                    <img src="{{ url_for('static', filename='assets/img/avatars/male-4.jpg') }}"
                                                         alt="Harvey Derwent avatar image"
                                                         class="avatar avatar-sm flex-shrink-0 mr-3">
                                                    <div class="text-dark mb-0">&ldquo;We are working at almost twice
                                                        the capacity&rdquo;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                                        <img src="{{ url_for('static', filename='assets/img/desktop-app/desktop-app-3.jpg') }}"
                                             alt="Screenshot"
                                             class="img-fluid rounded shadow border">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row align-items-center justify-content-around">
                                    <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                                        <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                                            <h3 class="h1">Easy on the eyes, and the wallet.</h3>
                                            <p>
                                                Ned ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                                            </p>
                                            <div class="mt-4">
                                                <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                                                    <img src="{{ url_for('static', filename='assets/img/avatars/male-1.jpg') }}"
                                                         alt="Harvey Derwent avatar image"
                                                         class="avatar avatar-sm flex-shrink-0 mr-3">
                                                    <div class="text-dark mb-0">&ldquo;Jumpstart increases productivity.&rdquo;</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                                        <img src="{{ url_for('static', filename='assets/img/desktop-app/desktop-app-1.jpg') }}"
                                             alt="Screenshot"
                                             class="img-fluid rounded shadow border">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row align-items-center justify-content-around">
                                    <div class="col-lg-6 col-xl-5 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                                        <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                                            <h3 class="h1">You’ll Stay right up to date,
                                                <mark data-aos="highlight-text"
                                                      data-aos-delay="250">ever
                                                </mark>
                                                .
                                            </h3>
                                            <p>
                                                Ned ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                                            </p>
                                            <div class="mt-4">
                                                <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 d-inline-flex text-left shadow-sm bg-white">
                                                    <img src="{{ url_for('static', filename='assets/img/avatars/female-4.jpg') }}"
                                                         alt="Ashley Mance avatar image"
                                                         class="avatar avatar-sm flex-shrink-0 mr-3">
                                                    <div class="text-dark mb-0">&ldquo;Jumpstart is a dream come true.&rdquo;</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7" data-aos="fade-left">
                                        <img src="{{ url_for('static', filename='assets/img/desktop-app/desktop-app-2.jpg') }}"
                                             alt="Screenshot"
                                             class="img-fluid rounded shadow border">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card card-body shadow-sm h-100">
                        <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="97"
                             data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping=""
                             data-suffix="%" data-easing=""></div>
                        <div>Average satisfaction rating received in the past year</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card card-body shadow-sm h-100">
                        <div class="display-4 text-primary mb-3" data-countup data-start="20" data-end="24"
                             data-duration="1" data-decimal-places="" data-prefix="" data-separator="" data-grouping=""
                             data-suffix="/7" data-easing="false"></div>
                        <div>Our support experts are ready to assist anytime</div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card card-body shadow-sm h-100">
                        <div class="display-4 text-primary mb-3" data-countup data-start="" data-end="142"
                             data-duration="" data-decimal-places="" data-prefix="" data-separator="" data-grouping=""
                             data-suffix="k+" data-easing=""></div>
                        <div>App installs from the two major mobile app stores</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {# They changed the game #}

    <section class="bg-primary-3 text-white jarallax" data-jarallax data-speed="0.75">
        <img src="{{ url_for('static', filename='assets/img/heros/hero-2.jpg') }}" alt="Hero"
             class="jarallax-img opacity-60">
        <div class="container min-vh-40 d-flex flex-column justify-content-center">
            <div class="row justify-content-center text-center text-sm-left">
                <div class="col d-flex flex-column flex-sm-row justify-content-center align-items-center">
                    <div class="h1 mb-0 mt-4 mt-sm-0 ml-sm-4" data-aos="fade-up">&ldquo;They changed the game&rdquo;
                    </div>
                </div>
            </div>
        </div>
    </section>





    {# Proudct/Pricing Section #}
    <section class="bg-primary pb-0">
        <div class="container">
            <div class="text-white">
                <div class="row section-title justify-content-center text-center">
                    <div class="col-md-9 col-lg-8 col-xl-7">
                        <h3 class="display-4">Scales with your business</h3>
                        <div class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="card card-body align-items-center shadow">
                        <div class="text-center mb-4">
                            <h4>Product 1</h4>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                {#                                <span class="h5 mb-0 mr-2">$</span>#}
                                {#                                <span class="display-3 mb-0 text-dark">19</span>#}
                                <img src="{{ url_for('static', filename='assets/img/raimech/cpu.svg') }}" class="w-50">
                            </div>
                            {#                            <div>Per user, per month</div>#}
                        </div>

                        <ul class="list-unstyled p-0">
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">2GB Cloud Storage</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">100GB CDN Bandwidth</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">98.88% Uptime Guarantee</h6>
                                </div>
                            </li>
                            <li class="my-3 opacity-50">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-danger-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-x.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-danger">
                                    </div>
                                    <h6 class="mb-0 ml-3">Personal Account Manager</h6>
                                </div>
                            </li>
                            <li class="my-3 opacity-50">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-danger-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-x.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-danger">
                                    </div>
                                    <h6 class="mb-0 ml-3">Enterprise SLA</h6>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-block btn-outline-primary">Start with Basic</a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="card card-body align-items-center shadow">
                        {#                        <div class="badge badge-success badge-pill mb-4">Best Value</div>#}
                        <div class="text-center mb-4">
                            <h4>Product 2</h4>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                {#                                <span class="h5 mb-0 mr-2">$</span>#}
                                {#                                <span class="display-3 mb-0 text-dark">29</span>#}
                                <img src="{{ url_for('static', filename='assets/img/raimech/cpu-color.svg') }}"
                                     class="w-50">
                            </div>
                            {#                            <div>Per user, per month</div>#}
                        </div>
                        <ul class="list-unstyled p-0">
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">20GB Cloud Storage</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">1TB CDN Bandwidth</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">99.95% Uptime Guarantee</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">Personal Account Manager</h6>
                                </div>
                            </li>
                            <li class="my-3 opacity-50">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-danger-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-x.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-danger">
                                    </div>
                                    <h6 class="mb-0 ml-3">Enterprise SLA</h6>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-block btn-primary">Start with Premium</a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-7 col-lg-4 mb-3 mb-md-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="card card-body align-items-center shadow">

                        <div class="text-center mb-4">
                            <h4>Product 3</h4>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                {#                                <span class="h5 mb-0 mr-2">$</span>#}
                                {#                                <span class="display-3 mb-0 text-dark">79</span>#}
                                <img src="{{ url_for('static', filename='assets/img/raimech/cpu.svg') }}" class="w-50">
                            </div>
                            {#                            <div>Per user, per month</div>#}
                        </div>
                        <ul class="list-unstyled p-0">
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">Unlimited Storage</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">100TB CDN Bandwidth</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">99.999% Uptime Guarantee</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">Personal Account Manager</h6>
                                </div>
                            </li>
                            <li class="my-3">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle bg-success-alt">
                                        <img src="{{ url_for('static', filename='assets/img/icons/interface/icon-check.svg') }}"
                                             alt=" icon="
                                             class="m-2 icon icon-xs bg-success">
                                    </div>
                                    <h6 class="mb-0 ml-3">Enterprise SLA</h6>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-block btn-outline-primary">Start with Pro</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
    </section>
{% endblock %}
